# Entorno virtual
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Base de datos
*.db
*.sqlite3

# Excel generados
data/excels/
data/processed/

# Variables sensibles
.env

# VSCode
.vscode/

# Windows
Thumbs.db